@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto&display=swap');

*{
    box-sizing: border-box;
}

body {
    background: #D3CCE3;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E9E4F0, #D3CCE3);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 100vh;
    /* font-family: 'Pacifico', sans-serif; */
    font-family: 'Roboto', sans-serif;
    padding-bottom: 100px;
}
.header-title{
    font-family: 'Pacifico', sans-serif;
    background-color: #a02225;
    border-radius: 3px;
    border-color: #581a1b;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}

.postSection {
    position: relative;
    border: 1px;
    border-style: groove;
    background-color: #a02225;
    border-color: #581a1b;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
    border-radius: 3px;
    padding: 30px;
    margin: 4rem 0;
    color: white;
}

.postSection .postNumber {
    position: absolute;
    
    top: -15px;
    left: -15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
    width: 30px;
    height: 30px;
    font-size: 15px;
    background-color: #a02225;
    border: 0px;
    border-style: groove;
    border-color: #581a1b;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.postSection .postInfo {
    margin-left: 30px;
}


.postSection .postBody {
    margin-top: 15px;
    line-height: 1.5;
}

.loadingSection {
    opacity: 0;
    display: flex;
    position: fixed;
    bottom: 80px;
    transition: opacity .3s ease-in;
}

.loadingSection.load {
    opacity: 1;
}


.loadingBall{
    background-color: #a02225;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 3px;
    animation: loading .5s ease-in infinite;
}

.loadingBall:nth-of-type(2){
    animation-delay: .1s;
}
.loadingBall:nth-of-type(3){
    animation-delay: .2s;
}
.loadingBall:nth-of-type(4){
    animation-delay: .3s;
}

@keyframes loading {
    0%,100% {
        transform: translateY(0);
    } 
    50% {
        transform: translateY(-10px);
    }
}